<!DOCTYPE <html>
<html class="gr__highcharts_com">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Your scent map</title>
    <style type="text/css">
        body {
            width: 760px;
        }

        #container {
            height: 500px;
            width: 500px;
            min-width: 310px;
            max-width: 800px;
            float: left;
        }

        .loading {
            margin-top: 10em;
            text-align: center;
            color: gray;
        }

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        .info {
            float: left;
            top: 0;
            line-height: 1.5;
            width: 260px;
        }

        .info .data {
            border-radius: 4px;
            border: 2px solid #c0acbc;
            width: 200px;
            height: 4.5em;
            padding: 5px 20px;
            font-size: 14px;
            margin: 6px 0;
        }

        .info .data-3 {
            border-color: #e2c4d0;
        }

        .info .data-2 {
            border-color: #cecde6;
        }

        .info .data-1 {
            border-color: #3e1935;
        }

        .info .data-4 {
            border-color: #755986;
        }

        .highcharts-credits {
            display: none;
        }
    </style>
    <script src="../static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var data = {{ data| safe }};
       
        $(function () {
            var data = {{ data| safe}};
        // Prepare demo data
        var data = [
            {
                'hc-key': 'gb-ca',
                value: data[4]['time'],
                color: '#755986',
                namep: 'Cardiff',
                plant: data[4]['plant']
            }, {
                'hc-key': 'gb-fe',
                value: data[2]['time'],
                color: '#cecde6',
                namep: 'Fermanagh',
                plant: data[2]['plant']
            }, {
                'hc-key': 'gb-la',
                value: data[1]['time'],
                color: '#e2c4d0',
                namep: 'Lancashire',
                plant: data[1]['plant']
            }, {
                'hc-key': 'gb-2458',
                value: data[3]['time'],
                color: '#3e1935',
                namep: 'Perthshire and Kinross',
                plant: data[3]['plant']
            }, {
                'hc-key': 'gb-bu',
                value: data[0]['time'],
                color: '#ae7b9e',
                namep: 'Buckinghamshire',
                plant: data[0]['plant']
            },
            //Anglesey   0.170418006	311  value: 17,
            { 'hc-key': 'gb-ay', color: '#b1d2d5' },
            { 'hc-key': 'gb-3270', color: '#81b2b6' },
            { 'hc-key': 'gb-hi', color: '#81b2b6' },
            //Argyll & Bute  value: 4, 
            { 'hc-key': 'gb-ab', color: '#437679' },
            { 'hc-key': 'gb-ps', color: '#437679' },
            { 'hc-key': 'gb-wi', color: '#81b2b6' },
            { 'hc-key': 'gb-my', color: '#d6ebe6' },
            { 'hc-key': 'gb-7398', color: '#b1d2d5' },
            { 'hc-key': 'gb-eb', color: '#81b2b6' },
            { 'hc-key': 'gb-lc', color: '#437679' },
            { 'hc-key': 'gb-2393', color: '#b1d2d5' },
            { 'hc-key': 'gb-db', color: '#d6ebe6' },
            { 'hc-key': 'gb-de', color: '#437679' },
            //Antrim  0.093457944	107   value: 9, 
            { 'hc-key': 'gb-an', color: '#437679' },
            { 'hc-key': 'gb-bl', color: '#81b2b6' },
            { 'hc-key': 'gb-ng', color: '#437679' },
            { 'hc-key': 'gb-do', color: '#d6ebe6' },
            { 'hc-key': 'gb-er', color: '#b1d2d5' },
            { 'hc-key': 'gb-ea', color: '#b1d2d5' },
            { 'hc-key': 'gb-gg', color: '#437679' },
            { 'hc-key': 'gb-ed', color: '#437679' },
            { 'hc-key': 'gb-ic', color: '#437679' },
            { 'hc-key': 'gb-2446', color: '#437679' },
            { 'hc-key': 'gb-nn', color: '#437679' },
            { 'hc-key': 'gb-rf', color: '#437679' },
            //Ayr 0.135802469	83   value: 14, 
            { 'hc-key': 'gb-sa', color: '#81b2b6' },
            { 'hc-key': 'gb-sl', color: '#d6ebe6' },
            { 'hc-key': 'gb-wd', color: '#437679' },
            { 'hc-key': 'gb-ar', color: '#b1d2d5' },
            //Aberdeen  0.181818182	11   value: 18, 
            { 'hc-key': 'gb-as', color: '#b1d2d5' },
            { 'hc-key': 'gb-fk', color: '#437679' },
            { 'hc-key': 'gb-zg', color: '#b1d2d5' },
            { 'hc-key': 'gb-cc', color: '#b1d2d5' },
            { 'hc-key': 'gb-du', color: '#b1d2d5' },
            { 'hc-key': 'gb-fi', color: '#d6ebe6' },
            { 'hc-key': 'gb-ml', color: '#81b2b6' },
            { 'hc-key': 'gb-wh', color: '#81b2b6' },
            { 'hc-key': 'gb-bo', color: '#b1d2d5' },
            { 'hc-key': 'gb-dh', color: '#b1d2d5' },
            { 'hc-key': 'gb-da', color: '#437679' },
            { 'hc-key': 'gb-hp', color: '#437679' },
            { 'hc-key': 'gb-mb', color: '#b1d2d5' },
            { 'hc-key': 'gb-rc', color: '#b1d2d5' },
            { 'hc-key': 'gb-zt', color: '#437679' },
            { 'hc-key': 'gb-ha', color: '#b1d2d5' },
            { 'hc-key': 'gb-zh', color: '#437679' },
            //Bedforshire 0.735294118	34   value: 74, 
            { 'hc-key': 'gb-2318', color: '#d6ebe6' },
            { 'hc-key': 'gb-gc', color: '#b1d2d5' },
            { 'hc-key': 'gb-mk', color: '#437679' },
            { 'hc-key': 'gb-bn', color: '#d6ebe6' },
            { 'hc-key': 'gb-bs', color: '#d6ebe6' },
            { 'hc-key': 'gb-ns', color: '#d6ebe6' },
            { 'hc-key': 'gb-sj', color: '#d6ebe6' },
            { 'hc-key': 'gb-2389', color: '#437679' },
            { 'hc-key': 'gb-ds', color: '#b1d2d5' },
            { 'hc-key': 'gb-2391', color: '#437679' },
            { 'hc-key': 'gb-ht', color: '#b1d2d5' },
            //Cambridgeshire  0.088372093	215    value: 8,
            { 'hc-key': 'gb-cm', color: '#b1d2d5' },
            { 'hc-key': 'gb-kh', color: '#b1d2d5' },
            { 'hc-key': 'gb-ne', color: '#b1d2d5' },
            { 'hc-key': 'gb-ba', color: '#d6ebe6' },
            { 'hc-key': 'gb-xb', color: '#d6ebe6' },
            { 'hc-key': 'gb-ke', color: '#437679' },
            { 'hc-key': 'gb-bz', color: '#b1d2d5' },
            { 'hc-key': 'gb-be', color: '#437679' },
            { 'hc-key': 'gb-cn', color: '#b1d2d5' },
            { 'hc-key': 'gb-eg', color: '#437679' },
            { 'hc-key': 'gb-ef', color: '#b1d2d5' },
            { 'hc-key': 'gb-gr', color: '#b1d2d5' },
            { 'hc-key': 'gb-hf', color: '#437679' },
            { 'hc-key': 'gb-hu', color: '#437679' },
            { 'hc-key': 'gb-it', color: '#b1d2d5' },
            { 'hc-key': 'gb-kc', color: '#437679' },
            { 'hc-key': 'gb-cy', color: '#b1d2d5' },
            { 'hc-key': 'gb-me', color: '#b1d2d5' },
            { 'hc-key': 'gb-rb', color: '#437679' },
            { 'hc-key': 'gb-ru', color: '#437679' },
            { 'hc-key': 'gb-su', color: '#d6ebe6' },
            { 'hc-key': 'gb-th', color: '#b1d2d5' },
            { 'hc-key': 'gb-wf', color: '#b1d2d5' },
            { 'hc-key': 'gb-ww', color: '#b1d2d5' },
            { 'hc-key': 'gb-we', color: '#437679' },
            { 'hc-key': 'gb-li', color: '#d6ebe6' },
            { 'hc-key': 'gb-bf', color: '#437679' },
            { 'hc-key': 'gb-ld', color: '#d6ebe6' },
            { 'hc-key': 'gb-nm', color: '#437679' },
            //Armagh  0.6666666667	3   value: 67, 
            { 'hc-key': 'gb-am', color: '#d6ebe6' },
            { 'hc-key': 'gb-bb', color: '#d6ebe6' },

            { 'hc-key': 'gb-cr', color: '#d6ebe6' },
            { 'hc-key': 'gb-dn', color: '#d6ebe6' },
            { 'hc-key': 'gb-2347', color: '#d6ebe6' },
            { 'hc-key': 'gb-lb', color: '#d6ebe6' },
            { 'hc-key': 'gb-mf', color: '#437679' },
            { 'hc-key': 'gb-om', color: '#d6ebe6' },
            { 'hc-key': 'gb-lr', color: '#437679' },
            { 'hc-key': 'gb-cf', color: '#d6ebe6' },
            { 'hc-key': 'gb-nw', color: '#437679' },
            { 'hc-key': 'gb-2354', color: '#d6ebe6' },
            { 'hc-key': 'gb-dw', color: '#437679' },
            { 'hc-key': 'gb-cl', color: '#d6ebe6' },
            { 'hc-key': 'gb-by', color: '#d6ebe6' },
            { 'hc-key': 'gb-cs', color: '#d6ebe6' },
            { 'hc-key': 'gb-pe', color: '#d6ebe6' },
            //Cardiganshire 0.6	5   value: 60, 
            { 'hc-key': 'gb-2301', color: '#d6ebe6' },
            { 'hc-key': 'gb-gd', color: '#b1d2d5' },
            { 'hc-key': 'gb-sp', color: '#d6ebe6' },
            { 'hc-key': 'gb-po', color: '#d6ebe6' },
            { 'hc-key': 'gb-mt', color: '#755986' },
            { 'hc-key': 'gb-bj', color: '#755986' },
            { 'hc-key': 'gb-cp', color: '#755986' },
            { 'hc-key': 'gb-rt', color: '#755986' },
            { 'hc-key': 'gb-vg', color: '#755986' },
            { 'hc-key': 'gb-np', color: '#755986' },
            { 'hc-key': 'gb-sw', color: '#d6ebe6' },
            { 'hc-key': 'gb-7122', color: '#d6ebe6' },
            { 'hc-key': 'gb-bw', color: '#d6ebe6' },
            { 'hc-key': 'gb-ey', color: '#d6ebe6' },
            { 'hc-key': 'gb-yk', color: '#b1d2d5' },
            { 'hc-key': 'gb-di', color: '#b1d2d5' },
            { 'hc-key': 'gb-fl', color: '#437679' },
            { 'hc-key': 'gb-wx', color: '#b1d2d5' },
            { 'hc-key': 'gb-bg', color: '#755986' },
            { 'hc-key': 'gb-no', color: '#755986' },
            { 'hc-key': 'gb-tf', color: '#755986' },
            { 'hc-key': 'gb-lm', color: '#d6ebe6' },
            { 'hc-key': 'gb-sb', color: '#d6ebe6' },
            { 'hc-key': 'gb-ny', color: '#d6ebe6' },
            { 'hc-key': 'gb-2420', color: '#d6ebe6' },
            { 'hc-key': 'gb-tb', color: '#b1d2d5' },
            { 'hc-key': 'gb-ex', color: '#81b2b6' },
            { 'hc-key': 'gb-nf', color: '#b1d2d5' },
            { 'hc-key': 'gb-bh', color: '#b1d2d5' },
            { 'hc-key': 'gb-hv', color: '#437679' },
            { 'hc-key': 'gb-tr', color: '#b1d2d5' },
            { 'hc-key': 'gb-ss', color: '#b1d2d5' },
            { 'hc-key': 'gb-ws', color: '#b1d2d5' },
            { 'hc-key': 'gb-wr', color: '#b1d2d5' },
            { 'hc-key': 'gb-hd', color: '#b1d2d5' },
            { 'hc-key': 'gb-kt', color: '#d6ebe6' },
            { 'hc-key': 'gb-sr', color: '#b1d2d5' },
            { 'hc-key': 'gb-es', color: '#d6ebe6' },
            { 'hc-key': 'gb-ox', color: '#437679' },
            { 'hc-key': 'gb-sn', color: '#b1d2d5' },
            { 'hc-key': 'gb-na', color: '#437679' },
            { 'hc-key': 'gb-rl', color: '#b1d2d5' },
            { 'hc-key': 'gb-hk', color: '#b1d2d5' },
            { 'hc-key': 'gb-hy', color: '#b1d2d5' },
            { 'hc-key': 'gb-hr', color: '#b1d2d5' },
            { 'hc-key': 'gb-lt', color: '#437679' },
            { 'hc-key': 'gb-lw', color: '#b1d2d5' },
            { 'hc-key': 'gb-nh', color: '#437679' },
            { 'hc-key': 'gb-sq', color: '#b1d2d5' },
            { 'hc-key': 'gb-he', color: '#81b2b6' },
            { 'hc-key': 'gb-st', color: '#81b2b6' },
            { 'hc-key': 'gb-wc', color: '#b1d2d5' },
            { 'hc-key': 'gb-tk', color: '#b1d2d5' },
            { 'hc-key': 'gb-6338', color: '#b1d2d5' },
            { 'hc-key': 'gb-nb', color: '#b1d2d5' },
            { 'hc-key': 'gb-2367', color: '#b1d2d5' },
            { 'hc-key': 'gb-7113', color: '#b1d2d5' },
            { 'hc-key': 'gb-7114', color: '#b1d2d5' },
            { 'hc-key': 'gb-7115', color: '#b1d2d5' },
            { 'hc-key': 'gb-7116', color: '#437679' },
            { 'hc-key': 'gb-2364', color: '#d6ebe6' },
            { 'hc-key': 'gb-7118', color: '#d6ebe6' },
            { 'hc-key': 'gb-7119', color: '#d6ebe6' },
            { 'hc-key': 'gb-wt', color: '#d6ebe6' },
            { 'hc-key': 'gb-ms', color: '#d6ebe6' },
            { 'hc-key': 'gb-7117', color: '#d6ebe6' },
            { 'hc-key': 'gb-3265', color: '#d6ebe6' },
            { 'hc-key': 'gb-7130', color: '#d6ebe6' },
            { 'hc-key': 'gb-7131', color: '#d6ebe6' },
            { 'hc-key': 'gb-7132', color: '#437679' },
            { 'hc-key': 'gb-7133', color: '#d6ebe6' },
            { 'hc-key': 'gb-3266', color: '#d6ebe6' },
            { 'hc-key': 'gb-7121', color: '#d6ebe6' },
            { 'hc-key': 'gb-7123', color: '#d6ebe6' },
            { 'hc-key': 'gb-7124', color: '#d6ebe6' },
            { 'hc-key': 'gb-7125', color: '#d6ebe6' },
            { 'hc-key': 'gb-7126', color: '#d6ebe6' },
            { 'hc-key': 'gb-7127', color: '#d6ebe6' },
            { 'hc-key': 'gb-7128', color: '#d6ebe6' },
            { 'hc-key': 'gb-7129', color: '#d6ebe6' },
            { 'hc-key': 'gb-2366', color: '#81b2b6' },
            { 'hc-key': 'gb-nt', color: '#b1d2d5' },
            { 'hc-key': 'gb-3267', color: '#b1d2d5' },
            { 'hc-key': 'gb-7134', color: '#b1d2d5' },
            { 'hc-key': 'gb-7135', color: '#b1d2d5' },
            { 'hc-key': 'gb-nl', color: '#b1d2d5' },
            { 'hc-key': 'gb-7136', color: '#d6ebe6' },
            { 'hc-key': 'gb-2377', color: '#437679' },
            { 'hc-key': 'gb-7137', color: '#b1d2d5' },
            { 'hc-key': 'gb-7138', color: '#b1d2d5' },
            { 'hc-key': 'gb-7139', color: '#b1d2d5' },
            { 'hc-key': 'gb-7140', color: '#437679' },
            { 'hc-key': 'gb-7141', color: '#b1d2d5' },
            { 'hc-key': 'gb-7142', color: '#b1d2d5' },
            { 'hc-key': 'gb-2381', color: '#d6ebe6' },
            { 'hc-key': 'gb-bd', color: '#437679' },
            { 'hc-key': 'gb-2388', color: '#d6ebe6' },
            // Berkshire  0.764705882	85   value: 76, 
            { 'hc-key': 'gb-7143', color: '#d6ebe6' },
            { 'hc-key': 'gb-7144', color: '#d6ebe6' },
            { 'hc-key': 'gb-7145', color: '#d6ebe6' },
            { 'hc-key': 'gb-7146', color: '#d6ebe6' },
            { 'hc-key': 'gb-7147', color: '#d6ebe6' },
            { 'hc-key': 'gb-7149', color: '#b1d2d5' },
            { 'hc-key': 'gb-so', color: '#437679' },
            //Cheshire West & Chester 0.052459016	305   value: 5, 
            { 'hc-key': 'gb-7150', color: '#b1d2d5' },
            { 'hc-key': 'gb-7151', color: '#d6ebe6' },
            { 'hc-key': 'gb-pb', color: '#b1d2d5' },
            { 'hc-key': 'gb-iw', color: '#d6ebe6' },
            { 'hc-key': 'gb-mo', color: '#437679' },
            //Angus 0.666666667	3  
            { 'hc-key': 'gb-ag', color: '#b1d2d5' },
            { 'hc-key': 'gb-el', color: '#b1d2d5' },
            { 'hc-key': 'gb-sm', color: '#b1d2d5' },
            //Carmarthenshire  0.052459016	305
            { 'hc-key': 'gb-ci', color: '#d6ebe6' },
            { 'hc-key': 'gb-hl', color: '#b1d2d5' },
            { 'hc-key': 'gb-co', color: '#b1d2d5' },
            { 'hc-key': 'gb-cw', color: '#b1d2d5' },
            { 'hc-key': 'gb-nd', color: '#437679' },
            { 'hc-key': 'gb-dg', color: '#d6ebe6' },
            { 'hc-key': 'gb-cu', color: '#81b2b6' },
            { 'hc-key': 'gb-sf', color: '#d6ebe6' },
            { 'hc-key': 'gb-mw', color: '#b1d2d5' },
            { 'hc-key': 'gb-lu', color: '#b1d2d5' },
            { 'hc-key': 'gb-wl', color: '#b1d2d5' },
            { 'hc-key': 'gb-3271', color: '#437679' },
            { 'hc-key': '', color: '#b1d2d5' }];


        // Initiate the chart
        $('#container').highcharts('Map', {

            title: {
                text: 'Your scent map'
            },

            /*subtitle : {
                text : 'Source map: <a href="https://code.highcharts.com/mapdata/countries/gb/gb-all.js">countries/gb/gb-all</a>'
            },
*/

            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },

            /*  colorAxis: {
                 min: 0
             }, */
            tooltip: {
                headerFormat: '',
                pointFormat: '<b>Place: {point.name}</b><br/><b>Plant: {point.plant}</b><br>Time  of Smelling: {point.value}'
                //<b>Plant: {point.plant}</b><br>Time  of Smelling: {point.value}
            },

            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },

            legend: {
                enabled: true
            },

            series: [{
                data: data,
                mapData: Highcharts.maps['countries/gb/gb-all'],
                joinBy: 'hc-key',
                name: 'Random data',
                states: {
                },
                dataLabels: {
                    enabled: false,
                    format: '{point.namep}'
                }
            }, {
                name: 'Separators',
                type: 'mapline',
                data: Highcharts.geojson(Highcharts.maps['countries/gb/gb-all'], 'mapline'),
                color: 'white',
                showInLegend: false,
                enableMouseTracking: false
            }
            ]
        });
        });





    </script>
</head>

<body data-gr-c-s-loaded="true">
    <script src="../static/js/highmaps.js"></script>
    <script src="../static/js/exporting.js"></script>
    <script src="../static/js/gb-all.js"></script>

    <div id="container">
    </div>
    <div class="info">
        <div class="data-1 data">
            <p class="region">
                <!-- cardiff -->
            </p>
            <p class="time">
                <!-- time -->
            </p>
            <p class="plant">
                <!-- plant -->
            </p>
        </div>
        <div class="data-2 data">
            <p class="region">
                <!-- cardiff -->
            </p>
            <p class="time">
                <!-- time -->
            </p>
            <p class="plant">
                <!-- plant -->
            </p>
        </div>
        <div class="data-3 data">
            <p class="region">
                <!-- cardiff -->
            </p>
            <p class="time">
                <!-- time -->
            </p>
            <p class="plant">
                <!-- plant -->
            </p>
        </div>
        <div class="data-4 data">
            <p class="region">
                <!-- cardiff -->
            </p>
            <p class="time">
                <!-- time -->
            </p>
            <p class="plant">
                <!-- plant -->
            </p>
        </div>
        <div class="data-5 data">
            <p class="region">
                <!-- cardiff -->
            </p>
            <p class="time">
                <!-- time -->
            </p>
            <p class="plant">
                <!-- plant -->
            </p>
        </div>
    </div>
    <button>
        <a href="/cleardata">exit</a>
    </button>
</body>
<script type="text/javascript">

    //console.log(data);
    var i;
    for (i = 0; i < 5; i++) {
        //console.log(data[i]);
        if (i == 0) {
            //Buckinghamshire
            $('.data-5 .region').text('Name: ' + data[0]['region_name']);
            $('.data-5 .time').text('Time:   ' + data[0]['time']/1000);
            $('.data-5 .plant').text('Plant: ' + data[0]['plant']);
            $('.data-5').css({ 'border-color': data[0]['color'], 'background-color': 'rgba(192, 172, 188,0.2)' })
        } else if (i == 1) {
            //Lancashire
            $('.data-3 .region').text('Name: ' + data[1]['region_name']);
            $('.data-3 .time').text('Time:   ' + data[1]['time']/1000);
            $('.data-3 .plant').text('Plant: ' + data[1]['plant']);
            $('.data-3').css({ 'border-color': data[1]['color'], 'background-color': 'rgba(226,196,208,0.2)' })
        } else if (i == 2) {
            //Fermanagh
            $('.data-2 .region').text('Name: ' + data[2]['region_name']);
            $('.data-2 .time').text('Time:   ' + data[2]['time']/1000);
            $('.data-2 .plant').text('Plant: ' + data[2]['plant']);
            $('.data-2').css({ 'border-color': data[2]['color'], 'background-color': 'rgba(206,205,230,0.2)' })
        } else if (i == 3) {
            //Perthshire and Kinross
            $('.data-1 .region').text('Name: ' + data[3]['region_name']);
            $('.data-1 .time').text('Time:   ' + data[3]['time']/1000);
            $('.data-1 .plant').text('Plant: ' + data[3]['plant']);
            $('.data-1').css({ 'border-color': data[3]['color'], 'background-color': 'rgba(62,25,53,0.2)' })
        } else if (i == 4) {
            //cardiff
            $('.data-4 .region').text('Name: ' + data[4]['region_name']);
            $('.data-4 .time').text('Time:   ' + data[4]['time']/1000);
            $('.data-4 .plant').text('Plant: ' + data[4]['plant']);
            $('.data-4 ').css({ 'border-color': data[4]['color'], 'background-color': 'rgba(117, 89, 134, 0.2)' })
        } else {
            console.log(data['region_id']);
        }
    }

</script>

</html>